#category {
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0.25rem;
}

#name {
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
}

#author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  margin-bottom: 1.313rem;
}

.fontRoboto {
  font-family: RobotoSlab, sans-serif;
}
